.sait-section__wrapper {
  padding-top: 94px;
  padding-bottom: 94px;
}

.site-filters__box {
  display: flex;
  margin-bottom: 50px;
  gap: 8px;
  justify-content: center;

  color: var(--color-nav);
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
